<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat app</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>     
    <link rel="stylesheet" href="/stylesheet/style2.css">
    <link rel="stylesheet" href="/stylesheet/nav.css">
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div>
        <nav>
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
          </label>
          <label class="logo"><img src="/images/kloudracLogo.png"></img><img></label>
      <ul>
        <li><a href="/users/dash">Home</a></li>
        <li><a class="active" href="/users/chatApp">Chat</a></li>
        <li><a href="/users/ContactInfo">Update Profile</a></li>
        <li><a href="#about">Welcome <%= name %> !</a></li>
        <li><a href="/users/logout"> Logout </a></li>
         <!--<li><a href="/users/chatter2">Chatter</a></li>--> 
      </ul>
      </nav>  
      </div>    
    <p id="name"><%= name %></p>
    <section class="chat__section">
        <div class="brand">
            <img height="40" src="/images/chatImg.png" alt="">
            <h1>Chat Application</h1>
        </div>
        <div class="message__area"></div>
        <div>
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
        </div>
    </section>
  
    <script src="/client.js"></script>
    <script>
      //  document.getElementById('name')
    </script>
    
</body>

</html>