<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title> Dashboard </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheet/nav.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>
  body{
  background: url('/images/theme.png') no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  
}
div {
    display: flex;
    justify-content: ce;
}
</style>
</head>
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><img src="/images/kloudracLogo.png"></img><img></label>
    
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/users/chatApp">Chat</a></li>
  <li><a href="/users/ContactInfo">Update Profile</a></li>
  <li><a href="#about">Welcome <%= objUser.firstname %> !</a></li>
  <li><a href="/users/logout"> Logout </a></li>
   <!--<li><a href="/users/chatter2">Chatter</a></li>--> 
</ul>
</nav>
<section></section>
</body>
</html>
